/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans KR", "Do Hyeon", "Roboto Condensed", "Poppins", "Sunflower", sans-serif;
  font-size: 15px;
  background: #111;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes rotatetext {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes click {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
}
.intro.active {
  height: 0;
  transition: 0.5s;
}
.intro .circle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .click {
  font-size: 30px;
  animation: click 2s linear infinite;
  font-family: "Poppins", sans-serif;
}
.intro .text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  animation: rotatetext 10s linear infinite;
}
.intro .text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #fff;
  padding: 20px 30px;
  z-index: 1;
  box-sizing: border-box;
  mix-blend-mode: difference;
  letter-spacing: -0.03em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  z-index: 5;
}
header .title {
  margin: 0;
  font-size: 50px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-inner .text {
  display: block;
  opacity: 1;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 0;
  bottom: -35px;
  animation: effect 0.7s ease-in-out infinite;
}
.header-inner .text.hide {
  display: none;
}
@keyframes effect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

.contact-box {
  font-size: 30px;
  color: #111;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  position: relative;
}
.contact-box a {
  display: block;
  border-radius: 25px;
  background: #fff;
  width: 10px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  transition: 0.5s;
}
.contact-box a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-box .link-item {
  padding: 7px;
  box-sizing: border-box;
}
.contact-box .link-item.notion {
  background: #F2B807;
}
.contact-box .link-item.call {
  background: #14D990;
  z-index: 1;
}
.contact-box .link-item.email {
  background: #F24968;
}

@media (hover: hover) and (pointer: fine) {
  .contact-box:hover a {
    width: 45px;
  }
  .contact-box:hover a:hover {
    background: #fff;
  }
}
@media (max-width: 768px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
    color: #111;
    mix-blend-mode: normal;
    background: #fff;
    transform: translateY(-100%);
    transition: 0.3s;
  }
  header .title {
    font-size: 30px;
  }
  header.active {
    transform: translateY(0);
  }
  .header-inner .text {
    font-size: 18px;
  }
  .contact-box a {
    width: 45px;
  }
}
@keyframes arrowtop {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(-30%) rotate(45deg);
    opacity: 1;
  }
}
footer {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 30px 20px;
  position: relative;
}

.contact-area {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: clamp(70px, 11vw, 130px);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.contact-area .contact-item {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #111;
  text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px aqua, 0px -1px #fff;
}
.contact-area .contact-item::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 18px;
  left: 103%;
  background: url(../asset/img/up-right-arrow.png) no-repeat center center;
  background-size: cover;
  transition: 0.5s 0.2s;
  transform-origin: 0% 100%;
  filter: invert(1);
}
.contact-area .contact-item::before {
  position: absolute;
  content: attr(data-text);
  display: block;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.5s;
}

.goal {
  width: 40%;
  color: #fff;
  align-self: center;
  font-size: 28px;
  line-height: 1.5em;
  word-break: keep-all;
  text-align: center;
  font-family: "Do Hyeon", serif;
}
.goal span {
  color: #14D990;
}

aside {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
aside .top_btn {
  display: block;
  padding-top: 50px;
  height: 100%;
  color: #fff;
  position: relative;
  font-size: 16px;
  font-family: "GmarketSansMedium";
  letter-spacing: -0.05em;
}
aside .top_btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 30px;
  height: 30px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: translateX(-50%) rotate(45deg);
  animation: arrowtop 1.5s 0.3s ease infinite;
}

@media (hover: hover) and (pointer: fine) {
  .contact-area .contact-item:hover::before {
    width: 100%;
  }
  .contact-area .contact-item:hover::after {
    transform: scale(1.8);
  }
}
@media (max-width: 768px) {
  footer {
    height: auto;
    display: block;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .goal {
    width: 100%;
    padding-top: 0;
  }
  .contact-area {
    width: 100%;
    padding-top: 50px;
  }
  .contact-area .contact-item::after {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 103%;
  }
}
@keyframes scrolldown {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 400%);
  }
  100% {
    transform: translate(-50%, 400%);
    opacity: 0;
  }
}
@keyframes scrolltext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rectrotate {
  100% {
    transform: rotate(360deg);
  }
}
main {
  padding: 0 30px;
  box-sizing: border-box;
}

.scroll-box {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 80px;
  width: 30px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.8156862745);
  border-radius: 50px;
  color: #fff;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.scroll-box .text {
  font-size: 20px;
  position: absolute;
  left: 50%;
  bottom: -70%;
  transform: translateX(-50%);
  animation: scrolltext 1.5s 1.6s linear infinite;
}
.scroll-box::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  animation: scrolldown 1.5s ease infinite;
}
.scroll-box.hide {
  visibility: hidden;
  opacity: 0;
}

.profile {
  height: 100vh;
  padding-top: 80px;
  width: 100%;
  position: relative;
}
.profile .title {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: clamp(40px, 8vw, 110px);
  line-height: 1.2em;
  font-weight: 900;
  text-align: left;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  color: #111;
  text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
}
.profile .title span {
  display: inline-block;
  color: #F24968;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
.profile::before {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  left: 18%;
  width: 40vw;
  height: 40vw;
  border: 1px solid #fff;
  border-radius: 30px;
  animation: rectrotate 12s linear infinite;
}
.profile::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 45vw;
  height: 45vw;
  border: 1px solid #F7FD04;
  border-radius: 30px;
  animation: rectrotate 12s linear infinite;
  animation-direction: reverse;
}

.introduce {
  height: 100vh;
  letter-spacing: -0.02em;
  color: #fff;
}
.introduce .title-box {
  padding-top: 0px;
  font-family: "Poppins", sans-serif;
}
.introduce .title {
  text-transform: uppercase;
  font-size: clamp(90px, 12vw, 180px);
  font-weight: 900;
  color: #111;
  text-shadow: -1px 0px #14D990, 0px 1px #14D990, 1px 0px #14D990, 0px -1px #14D990;
}
.introduce .tag {
  display: block;
  font-size: clamp(25px, 4vw, 90px);
  line-height: 1.2em;
  font-weight: 600;
}
.introduce .desc {
  width: 70%;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.3em;
  word-break: keep-all;
  text-align: center;
  transition: 0.1s;
  font-weight: 200;
}
.introduce .desc span {
  font-weight: bold;
}
.introduce .desc span:nth-child(1) {
  color: #F2B807;
}
.introduce .desc span:nth-child(2) {
  color: #F24968;
}

.portfolio {
  height: 100%;
  position: relative;
  padding: 80px 0px 0px;
}

.sc-title {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #F2B807;
  overflow: hidden;
}
.sc-title .text {
  display: block;
  transform: translateY(100%);
}

.nav {
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.nav .tab {
  font-weight: 500;
  font-size: 18px;
  height: 100%;
  padding: 0 25px;
  line-height: 2em;
  transition: 0.3s;
  background: transparent;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
}
.nav .tab::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
  transition: 0.3s;
}
.nav .tab::after {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
  transition: 0.3s;
}
.nav .tab.active {
  background-color: #fff;
  color: #111;
}

.item {
  width: calc((100% - 80px) / 4);
  margin: 10px;
  position: relative;
  display: block;
}

.img-area {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 100%;
  background: #000;
  overflow: hidden;
}
.img-area img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}

.desc-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "GmarketSansMedium";
}
.desc-box .name {
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em;
  position: relative;
}
.desc-box .name::before {
  content: "";
  position: absolute;
  bottom: -1px;
  transform: scale(0);
  transform-origin: 100% 100%;
  display: inline-block;
  height: 1px;
  width: 100%;
  background: #F2B807;
  transition: transform 0.3s 0.3s;
}
.desc-box .item-desc {
  font-size: 16px;
}
.desc-box .skills-box {
  padding-top: 20px;
}
.desc-box .skills-box .skill-icon .skill {
  display: inline-block;
  padding: 5px;
  width: 35px;
  height: 35px;
  filter: invert(1);
}
.desc-box .skills-box .skill-text {
  padding-top: 3px;
}
.desc-box .skills-box .skill-text .skill {
  padding: 5px;
}
.desc-box .link-box {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.desc-box .link-box a {
  display: block;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.4274509804);
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}
.desc-box .item-desc {
  padding-top: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .nav .tab:hover::before {
    height: 100%;
  }
  .nav .tab:hover::after {
    height: 100%;
  }
  .item:hover {
    cursor: pointer;
  }
  .item:hover .desc-box {
    opacity: 1;
  }
  .item:hover .desc-box .name::before {
    transform: scale(1);
    transform-origin: 0% 100%;
  }
  .item:hover .desc-box .link-box a:hover {
    background: #000;
    color: #F2B807;
  }
  .item:hover .img-area img {
    transform: scale(1.3);
  }
  .link-box a:hover {
    background: #000;
    color: #F2B807;
  }
}
@media (max-width: 768px) {
  main {
    padding: 20px;
  }
  .scroll-box {
    display: none;
  }
  .profile {
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
  }
  .profile::before {
    display: none;
  }
  .profile::after {
    display: none;
  }
  .introduce {
    height: auto;
    padding-bottom: 80px;
  }
  .introduce .title-box {
    padding-top: 0;
  }
  .introduce .desc {
    padding-top: 15px;
    font-size: 16px;
    width: 90%;
  }
  .portfolio {
    padding-top: 150px;
    height: auto;
  }
  .portfolio .sc-title {
    top: 50px;
    font-size: 40px;
  }
  .nav .list {
    justify-content: center;
  }
  .nav .tab {
    font-size: 14px;
    border: 0;
    color: #F2B807;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 15px;
    line-height: 2.3em;
  }
  .item {
    width: calc((100% - 12px) / 2);
    margin: 0;
    margin: 3px;
  }
  .desc-box {
    opacity: 1;
    padding: 10px;
  }
  .desc-box .name {
    font-size: 15px;
    line-height: 1.5em;
    font-weight: normal;
  }
  .desc-box .text-box {
    font-size: 11px;
  }
  .desc-box .item-desc {
    font-size: 10px;
    padding-top: 0;
  }
  .desc-box .skills-box {
    padding-top: 0;
  }
  .desc-box .skills-box .skill-icon .skill {
    width: 30px;
    height: 30px;
  }
  .desc-box .link-box {
    font-size: 11px;
    line-height: 1.2em;
    gap: 5px;
  }
  .desc-box .link-box a {
    padding: 5px;
    border-radius: 5px;
  }
}
