@keyframes rotatetext {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes click {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
    &.active{
        height: 0;
        transition: 0.5s;
    }
    .circle{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .click{
        font-size: 30px;
        animation: click 2s  linear infinite;
        font-family: 'Poppins', sans-serif;
    }
    .text{
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 18px;    
        animation: rotatetext 10s linear infinite; 
        span{
            position: absolute;
            left: 50%;
            transform-origin: 0 100px ;
        }

    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    padding: 20px 30px;
    z-index: 1;
    box-sizing: border-box;
    mix-blend-mode: difference;
    letter-spacing: -0.03em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    z-index: 10;
    .title{
        margin: 0;
        font-size: 50px;
    }
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .text{
        display: block;
        opacity: 1;
        font-size: 25px;
        font-weight: 400;
        position: absolute;
        right: 0;
        bottom: -35px;
        animation: effect 0.7s ease-in-out infinite;
        &.hide{
            display: none;
        }
    }
    @keyframes effect {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-20%);
        }
        100%{
            transform: translateY(0);
        }
    }
}
.contact-box{
   font-size: 30px;
   color: #111;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   gap: 10px;
   position: relative;
    a { 
        display: block; 
        border-radius: 25px;
        background: #fff;
        width: 10px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        transition: 0.5s;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .link-item{
        padding: 7px;
        box-sizing: border-box;
        &.notion{
            background: #F2B807;
        }
        &.call{
           background: #14D990;
           z-index: 1;
        }
        &.email{
            background: #F24968;
        }
    }
}

@media (hover:hover) and (pointer: fine) {
    .contact-box{
        &:hover{
            a{
                width: 45px;
                &:hover{
                    background: #fff;
                }
            }
        }
    }
}

// 반응형
@media (max-width: 768px){
    header{
        padding-left: 10px;
        padding-right: 10px;
        color: #111;
        mix-blend-mode: normal;
        background: #fff;
        transform: translateY(-100%);
        transition: 0.3s;
        .title{
            font-size: 30px;
        }
        &.active{
            transform: translateY(0);
        }
    }
    .header-inner{
       
        .text{
            font-size: 18px;
        }
    }
    .contact-box{
         a{
            width: 45px;
         }
    }
}
